<ul>
  <%= for resource <- @resources do %>
    <li>
      <%= resource.url %>
      <%= link "Details", to: resource_path(@conn, :show, resource), class: "btn btn-default btn-xs" %>
    </li>
  <% end %>
</ul>
