<h2>JS Tracker</h2>
<ul>
  <%= for target <- @targets do %>
    <li>
      <%= target.url %>
      <span><%# link "Show", to: target_path(@conn, :show, target), class: "btn btn-default btn-xs" %></span>
    </li>
  <% end %>
</ul>
<%= paginate @conn, @kerosene %>